# Python
__pycache__/
*.pyc
.env
.venv
venv/
src/__pycache__/
src/complaint_embeddings.parquet

# Jupyter
.ipynb_checkpoints/

# Data
data/raw/*
data/processed/*
!data/raw/.gitkeep
!data/processed/.gitkeep

# Vector stores
vector_store/*

# OS
.DS_Store
